<link rel="stylesheet" href="css/login.css">

<div class="login-page">
    <h5 class="text-center">Painel de Controle - Óvulo Doação</h5>
    <div class="form">

        <div ng-if="message" class="alert alert-danger" role="alert">{{message}}</div>

        <form class="login-form" ng-submit="login()">
            <input type="text" ng-model="user.email" placeholder="email"/>
            <input type="password" ng-model="user.password" placeholder="senha"/>
            <button>entrar</button>
            <!--<p class="message">Not registered? <a href="#">Create an account</a></p>-->
        </form>

    </div>
</div>