<div class="sidebar" data-color="blue">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    <div class="sidebar-wrapper">
        <div class="logo">
            <a ui-sref=".main" class="simple-text">
                Óvulo Doação
            </a>
        </div>

        <ul class="nav">
            <li ng-class="getClass('/dashboard')">
                <a ui-sref=".main">
                    <i class="pe-7s-graph"></i>
                    <p>Painel de Controle</p>
                </a>
            </li>
            <li ng-class="getClass('/profile')">
                <a ui-sref=".profile">
                    <i class="pe-7s-user"></i>
                    <p>Perfil</p>
                </a>
            </li>
            <li ng-class="getClass('/faq')">
                <a ui-sref=".faq">
                    <i class="pe-7s-info"></i>
                    <p>FAQ</p>
                </a>
            </li>
            <li ng-class="getClass('/notification')">
                <a ui-sref=".notification">
                    <i class="pe-7s-bell"></i>
                    <p>Notificações</p>
                </a>
            </li>
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<i class="pe-7s-note2"></i>-->
                    <!--<p>Table List</p>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<i class="pe-7s-news-paper"></i>-->
                    <!--<p>Typography</p>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<i class="pe-7s-science"></i>-->
                    <!--<p>Icons</p>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<i class="pe-7s-map-marker"></i>-->
                    <!--<p>Maps</p>-->
                <!--</a>-->
            <!--</li>-->
        </ul>
    </div>
</div>